.delivery {
  position: relative;

  select {
    display: block;
    padding: 12px 20px;
    width: 100%;
    background-color: #fab005;
    border-radius: 20px;
    appearance: none;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;

    * {
      background-color: #fff;
      font-size: 16px;
    }
  }

  i {
    pointer-events: none;
    touch-action: none;
    position: absolute;
    right: 25px;
    top: 11px;
    font-size: 24px;
  }
}
